# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Data files
aif.txt
vif.txt
c.txt
sycl/data

# Compiled Static libraries
*.la
*.a

#Data files
aif.txt
vif.txt
c.txt

# Executables
automaton
overlaydosedata
pacs_ingress
pacs_refresh
pacs_verify_filesystem_store
petct_perfusion_analysis*

# Typical build directory and artifacts.
build/
compile_commands.json
dcma_integration_testing/

