
language = "cpp"

onBoot = '''
    # Launch the setup script as soon as possible.
    sleep 1
    nohup bash .setup_replit &
'''

run = '''

    # Confirm all required setup is complete. If not, do not attempt to compile.
    if [ ! -f $HOME/setup_complete ] ; then printf 'Setup not yet complete. Attempting setup now...\n\n' 1>&2 ; nohup bash .setup_replit ; exit 1 ; fi
    
    # Debugging...
    ls -lash $HOME

    # compile some code here ...


'''

