
language = "cpp"

onBoot = '''
    # Launch the setup script as soon as possible.
    sleep 1
    nohup bash .setup_replit &
'''

run = '''

    # Confirm all required setup is complete. If not, re-launch the setup script before proceeding.
    if [ ! -f $HOME/setup_complete ] ; then printf 'Setup not yet complete. Please try again in a minute or two...\n\n' 1>&2 ; nohup bash .setup_replit ; exit 1 ; fi
    
    # Debugging...
    ls -lasht $HOME

    # compile some code here ...


'''

