
body {
    display: block;
    width: 50%;
    min-width: 25em;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-right: 5%;
    margin-left: auto;
}

.Title {
    display: block;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    float: left;
}

.Homepage {
    display: block;
    font-size: 0.8em;
    float: right;
}

.InstructionText {
    display: block;
    color: DarkGreen; 
}

.OutputParameterName {
    display: block;
    /* float: left; */
    /* color: Indigo; */
    background: rgba(255,255,100,0.25);
}

.DownloadLink {
    /* float: right; */
    text-align: right;
    font-size: 0.8em;
    /* color: DarkGreen; */
}

.FeedbackText {
    display: block;
    color: LightGray; 
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    margin-left: 2em;
    font-size: 0.85em;
    /* float: right; */
    text-align: right;
}

.DataEntryGroupBlock {
    display: block;
}

.DataEntryGroupBlock legend {
    display: block;
    font-weight: bold;
    color: Chocolate;
}

.DataEntryGroupBlock form {
    display: block;
    /* color: DarkGreen; */
}


tr:hover {
    background-color: rgba(210,105,100,0.15);
}

tbody td:nth-of-type(even),
thead th:nth-of-type(even) {
    background: rgba(100,200,255,0.15);
}

tbody td:nth-of-type(odd),
thead th:nth-of-type(odd) {
    background: rgba(255,255,100,0.25);
}

th, td {
    padding: 5px;
}

